<div class="container">
    {% if list_products|length > 0 %}
    <div class="row">
        {% for product in list_products %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card_title h5">{{product[1]}}</h5>
                        <p class="card-text">{{product[2]}}</p>
                        <p class="card-text">Ingredientes : {{product[3]}}</p>
                        <p class="card-text">{{product[5]}}$</p>
                        <p class="card-text">Stock: {{product[6]}}</p>
                        <p class="card-text">Ranking: {{product[8]}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div>
            <a href="#" onclick="navegar('{{ url_for('finalize_buies') }}', 'finalizar')" class="btn btn-primary" type="button">Comprar</a>
        </div>
    </div>    
    {% else %}
    <p class="h5">Aun no tiene registrado pedidos</p>
    {% endif %}
</div>