<!-- 
 <div class="container mt-3">
  {% if products|length > 0 %}
  <div class="row">
    {% for product in products %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card_title h5">{{product[1]}}</h5>
          <p class="card-text">{{product[2]}}</p>
          <p class="card-text">Ingredientes : {{product[4]}}</p>
          <p class="card-text">{{product[5]}}$</p>
          <p class="card-text">Stock: {{product[6]}}</p>
          <p class="card-text">Ranking: {{product[8]}}</p>
          <a href="{{ url_for('insert_detail',id_product=product[0]) }}" class="btn btn-primary">Agregar</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="h5">No se encontraron registros de porductos en la base de datos</p>
  {% endif %}


<div>
  <a href="{{ url_for('main') }}">Volver al Menú</a>
</div>
</div>
-->
<section>
{% if products|length > 0 %}
<div id="{{ id_category }}" class="w3-container menu w3-padding-32 w3-white">
{% for product in products %}
<p class="h1"><b>{{product[1]}}</b> <span class="w3-right w3-tag w3-dark-grey w3-round">${{product[5]}}</span></p>
  <p class="w3-text-grey">{{product[2]}}</p>
  <p class="w3-text-grey">Ingredientes : {{product[4]}}</p>
  <p class="w3-text-grey">Stock: {{product[6]}}</p>
  <p class="w3-text-grey">Ranking: {{product[8]}}</p>
  {% if 'id_user' in session %}
  <a id="btn-enviar" href="{{ url_for('insert_detail',id_product=product[0]) }}" class="btn btn-primary fs-3">Agregar</a>
  {% endif %}
{% endfor %}
</div>
{% else %}
<p class="h5">No se encontraron registros de porductos en la base de datos</p>
{% endif %}
</section>