<div class="container mt-3">
  {% if products|length > 0 %}
  <div class="row">
    {% for product in products %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card_title h5">{{product[1]}}</h5>
          <p class="card-text">{{product[2]}}</p>
          <p class="card-text">Ingredientes : {{product[4]}}</p>
          <p class="card-text">{{product[5]}}$</p>
          <p class="card-text">Stock: {{product[6]}}</p>
          <p class="card-text">Ranking: {{product[8]}}</p>
          <a href="{{ url_for('insert_detail',id_product=product[0]) }}" class="btn btn-primary">Agregar</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="h5">No se encontraron registros de porductos en la base de datos</p>
  {% endif %}

  <div>
    <a href="{{ url_for('main') }}">Volver al Menú</a>
  </div>
</div>